@font-face {
  font-family: 'AUPassata';
  src: url('./font/AUPassata_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AUPassata';
  src: url('./font/AUPassata_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AUPassata';
  src: url('./font/AUPassata_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'AUPassata', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100%;
}

main#leaderboard {
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem;
}

/* Title uses the museum’s primary orange */
main#leaderboard h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #FEA743; /* orange */
  font-family: 'AUPassata';
}

/* The list */
#leaderboard-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Default row style (ranks 4+) */
#leaderboard-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background: #FFCABC; /* passive orange */
  border-radius: 4px;
  font-size: 1.1rem;
  font-family: 'AUPassata';
   color: #fff;
}

/* 1st place – purple */
#leaderboard-list li:nth-child(1) {
  background: #AA95EC;
  color: #fff;
}

/* 2nd place – blue */
#leaderboard-list li:nth-child(2) {
  background: #7CBEFF;
  color: #fff;
}

/* 3rd place – green */
#leaderboard-list li:nth-child(3) {
  background: #A4D5C9;
  color: #fff;
}
