body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #222;
    color: white;
    font-family: sans-serif;
   
  }
#baggrund{
 width: 100%;
 height: 100%;
 opacity: 0.2;
}
  
  #game {
    position: relative;
    width: 100vw;
    height: 100vh;
    background:#a66617;
  }
  
  .player, .block {
    position: absolute;
    width: 65px;
    height: 65px;
    background-image: url('heart.png'); /* Replace with the actual heart PNG file path */
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #player {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  button {
    font-size: 60px;
    margin-right: 20px;
    background-color: #8d1d06;
    color: white;
    border: none;
  }
  
  #scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
  }
  